/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
}

h1, h2, h3 {
    font-family: "Bitter", Georgia, serif;
}

.wordCloud {

}

/** Utility Classes
*/

.overflow {
    height:400px;
    overflow: scroll;
}

.unstyledList {
    list-style: none;
    padding-left: 0px;
}


















